{% load bootstrap5 %}
{% load static %}
<!-- Header included in every page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Loading bootstrap css -->
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <!-- Loading custom css -->
    <link rel="stylesheet" href="{% static '/css/base.css' %}">
    <link rel="stylesheet" href="{% static '/css/profile.css' %}">
    <link rel="stylesheet" href="{% static '/css/signup.css' %}">
    
    <!-- Loading icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <title>Social App</title>
</head>
<body>
    


    
